// partial filenames begin with _ 
// px, rem <- REMs have better support for accessibility vs. px


// By default, 1 rem is 16 pixels.
// This allows it much easier to put font sizes (ie, 1/10 normal pixel sizes)
html {
  font-size: 62.5%
}

body {
  background: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}
